img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover
    }
footer{
        text-align: center;
        padding: 5px;
        background: #ffd1dc;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }