img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover
    }
header,footer {
       background-color: #23395b;
       padding: 10px;
       text-align: center;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
body {
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}
.site-title{
    color:white;
}
#my-image{
    box-shadow: 0 0 2px 1px black;
}
ul{
    list-style-type: square;
}
section li:nth-child(odd){
    background-color:#406E8E;
}
.site-links{
    list-style-type: none;
    text-align:left;
    float: left;
    
}
a:link, a:visited{
    text-decoration: none;
    border-width: 5px;
    border-style: inset; 
    border-color:#406E8E;
    background-color:azure;
}
a:hover{
    color:black;
    background-color: #8EA8C3;
}
#main-head{
    text-align: center;
    text-indent: -15%;
}
#notes-heading{
    text-align: center;
    text-indent: -15%;
}