body{
    font-family: Arial, Helvetica, sans-serif; /* main font for the website */
    background-color: #222A68;  /* background for the website */
    margin: 0;
    color: white;  /*main text colour */
}
.wrapper{

    width: 60%; /*width  of the content on top*/
    margin: 0 auto; /*centers content to the center of website*/
    background-color: #1C3041; /*background colour for foreground of website*/
    margin-bottom: 20px; /*allows for a slight space at bottom*/

}
main{
    padding: 10px 10px; /*adds a padding to entire content within main*/
}
header { 
    position: relative; /*keeps header content on page*/
    text-align: center; /*centers header content*/
}
header img{
    width: 100%; 
    height: 275px; 
    object-fit: cover; /*allows for img to fit behind header*/
    display: block; 
}

header h1{
    color:azure; /*h1 main colour*/ 
    position: absolute; /*allows for header content to move freely*/ 
    /*adjusts position and size*/
    top: 60%; 
    left: 50%;
    transform: translate(-50%, -50%);  
    font-size: 2.5em;
    margin: 0;
}

nav ul{
    list-style: none; /*removes bullet points */
    margin: 0; 
    padding: 0px; 
    display: flex; /*makes the items side by side*/
    justify-content: center; /*centers the items*/
}
nav li{
    /*adjusts position of nav and changes the colour*/
    margin: 0; 
    margin-top: 5px;
    border-right: 1px solid white; 
    padding: 0 10%;
    font-size: 1.2em;
}
nav a{
    text-decoration: none; /*removes underline from nav link*/
    color: white;
    display: block; 
}
nav li:last-child{
    border-right: none; /*removes line from contact nav li on the right*/
}
.float img{
    height: 200px;
    width: 200px; 
    margin-left: 8px; 
    float: left; /*allows for text to wrap around the image*/
    margin-right: 8px;
    margin-bottom: 10px; 

}
h2, form{
    margin-left: 8px; /*aligns h2 and form left side of content*/
}
.float p{
    margin-left: 10px;  /*adds separation between the paragraph and image*/
    margin-right: 10px;
}

.form form{
    border: 1px solid black; /*border around the form*/
    padding-top: 20px; /*allows for space around the border*/
}
.form input{
    width: 95%; /*lengthens form input*/
    margin: 10px; /*adds space from boder*/
    border: 1px solid lightgray; /* gives input boxes a light grey border*/
   
}
textarea{
    width: 95%; /*lengthens textarea*/
    height: 100px; /*adjusts the size*/
    margin: 10px; /*allows for space between border and textarea*/
    border: 1px solid grey; /*grey border around textarea*/
}
 .radio{
    display: flex; /*allows for horizontal alignment*/
}

.radio #yes{
    position: relative; /*allows for element to be able to shift position*/
    top: 25px; 
}
.radio #no{
    position: relative; /*allows for element to be able to shift position*/
    top: 25px;
    
}
.radio #maybe{
    position: relative; /*allows for element to be able to shift position*/
    top: 25px;
    left: 20px; 
}
.radio label{
    position: relative; /*allows for element to be able to shift position*/
    bottom: 20px;
}


button{
    padding: 10px; /*gives a padding around the button for added space*/
    background: none; 
    margin: 10px;
    margin-top: 3px;
    color: white; /*changes button text colour*/
}


.form label{
    margin-left: 10px; /*adjusts all form labels margin left*/
   
}

.head3{
    margin: 10px; /*adjusts h3 margin*/
}

footer{
    text-align: right; /*aligns footer to the right side of the wrapper*/
    padding: 20px; /*gives space to footer*/
}