body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
    margin: 0;
}
.wrapper{
    width: 60%;
    margin: 0 auto; 
    background-color: thistle;

}

header img{
    width: 100%;
}