/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom css start */
/* header section */
body{
	line-height: 1.4; 
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	color: #222222;
}
.contain{
	max-width: 1200px;
	margin: 0 auto; 	
}
.navigation{
	background-color:#222222;
	padding: 0.5rem; 
}
.logo{
	background-color: #c78c06;
	padding: 0.7rem 0rem 3.5rem 0rem; 
	width: 100%; 
}
.navigation nav{ 
	margin-top: -3rem;
}
.home{
	color:#222222;

}
nav ul{
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	line-height: 3.6rem; 
}
nav a{
	text-decoration: none; 
	color:#c78c06; 

}
nav a:hover{
	background-color: #c78c06;
	color: #222222;
	padding: 1rem 2rem; 
}
.search-bar{
	display: flex;
}
.search-bar input{
	flex: 1; 
	padding: 0.5rem; 
}
.search-bar button{
	background-color: #222222;
	border: 1px solid #c78c06; 
	color: #c78c06;
	display: flex; 
	align-items: center;
	justify-content: center;
}
.search-bar label{
	display: none;
}
.wrapper{
	background-image: url(../images/main-banner.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 450px; 
	display: flex; 
	align-items: center;
	padding: 3rem 0rem;
}
.mainheading{
	background-color: rgba(34,34,34,0.9);
	color: #ffffff; 
	padding: 1rem 1rem; 
	margin-right: 0; 

}
.mainheading h1{
	font-size: 5rem; 
	margin-bottom: 1.5rem; 
	font-weight: bold; 
	line-height: 1.8; 
}
.mainheading p{
	font-size: 0.95rem; 
	margin-bottom: 2rem;
}
.connect-button{
	display: inline-flex;
	align-items: center;
	background-color: #c78c06;
	font-size: 1.4rem;
	text-decoration: none;
	padding: 1.3rem; 
	color: #222222;
}
.connect-button span{
	font-size: 4.2rem; 
}
/* about-us section */
.about{
	background-color: #ffe6ac;
	padding: 2rem 1rem;
	margin-bottom: 2rem;
}
.about img{
	width: 100%;
	display: block; 

}
.about-us-content{
	padding-top: 1.5rem; 
}
.about-us-content h2{
	font-size: 2.5rem;
	font-weight: bold; 
}
.about-us-content p{
	font-size: 0.9rem; 
	line-height: 1.6rem;
	margin-top: 1rem; 
}
/* services section*/
.services{
	padding: 2rem 1rem; 
}
.services h2{
	font-size: 2.5rem; 
	font-weight: bold;
	margin-bottom: 0.5rem; 
}
.services-text{
	background-color: #ffe6ac;
	margin-bottom: 1.5rem;
}

.services-text img{
	width: 100%; 
	display: block; 
}

.service-info{ 
	padding: 1rem; 
}
.service-info h3{
	font-size: 2rem; 
	font-weight: bold; 
	margin-bottom: 1rem; 
}
.service-info p{
	font-size: 0.9rem; 
	line-height: 1.5rem; 
	margin-bottom: 1rem; 
}
/* buttons for services */
.services-button{
	display: inline-flex; 
	align-items: center; 
	background-color: #222222;
	color: #ffffff; 
	text-decoration: none; 
	padding: 1.6rem; 
	font-size: 1.3rem; 
}
.services span{
	font-size: 4rem; 
}
/* vision section */
.vision-text{
	background-image: url(../images/vision.jpg);
	background-size: cover;
	background-position: center;
	color:#ffffff;
	padding: 1.5rem;
}
.vision-text h2{
	font-size: 1.5rem;
	font-weight: bold; 
	margin-bottom: 1rem; 
}
.vision-text p{
	font-size: 0.9rem; 
	line-height: 1.6rem;
	margin-bottom: 1rem;
}
.vision-button{
	display:inline-block;
	text-decoration: none;
	padding: 1.3rem;
	background-color: #222222;
	border: 1px solid #c78c06;
	color:#ffffff;
	font-size: 1rem;
}
/* team section */
.team{
	padding: 2rem 1rem; 
}
.team h2{
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
	font-weight: bold;
}
.our-team{
	background-color: #ffe6ac;
	margin-bottom: 0.5rem;
}
.our-team img{
	width: 100%;
	display: block;
}
.team-text{
	padding: 1rem;
}
.team-text h3{
	font-size: 1.5rem;
	font-weight: bold; 
	margin-bottom: 0.25rem;
}
.team-text h4{
	font-size: 0.9rem;
	font-weight: bold; 
	color: #222222;
	margin-bottom: 0.5rem; 
	padding-bottom: 0.15rem; 
	border-bottom: 2px solid #c78c06; 
}
.team-text p{
	font-size: 0.9rem; 
	line-height: 1.5; 
}
/* contact section */
.contact-section{
	padding: 2rem 1rem;
}
.contact-section h2{
	font-size: 2.5rem;
}
.contact-form{
	margin-bottom: 2rem; 
}
.contact-form h3{
	font-size: 1.5rem;
	font-weight: bold; 
	margin-bottom: 0.75rem; 
}
.contact-form label{
	display: block; 
	font-size: 0.9rem; 
	margin-bottom: 0.25rem; 
}
.contact-form input, .contact-form textarea{
	width:97%; 
	padding: 0.5rem;
	margin-bottom: 0.75rem;
	border: 1px solid black; 
	font-size: 0.9rem; 
}
.contact-form button{
	background-color: #222222;
	color:#c78c06;
	border: none;
	padding: 0.4rem 0.4rem; 
	font-size: 1rem; 
	font-weight: 500; 
}
/* hours */
.hours{
	margin-bottom: 2rem; 
}
.hours h3{
	font-size: 1.5rem; 
	font-weight: bold; 
	margin-bottom: 0.5rem; 
}
.hours table{
	width: 100%;
	border: 1px solid black; 
}
.hours th, .hours td{
	border: 1px solid black; 
	padding: 0.5rem; 
	font-size: 1rem; 
	text-align: left;
}
.hours th{
	text-align: center;
}
.hours thead{
	background-color: #ffe6ac;
	text-align: center;
}
/* location */
.location h3{
	font-size: 1.5rem; 
	font-weight: bold; 
	margin-bottom: 0.5rem; 
}
.location iframe{
	width: 100%;
	height: 500px; 
	display: block; 

} 
/* footer */
footer{
	margin-top: 1rem; 
	background-color: #222222;
	color: #c78c06;
	padding: 1.5rem; 
}
footer a{
	color: #c78c06;
}
